@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.telegram-safe-bottom {
  padding-bottom: max(1rem, env(safe-area-inset-bottom));
}