@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-stone-950 text-stone-100 font-body;
  }
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-amber-500 via-orange-500 to-red-600;
  }
}

@layer utilities {
  .maplibregl-ctrl-logo {
    display: none !important;
  }
  .maplibregl-ctrl-attrib {
    display: none !important;
  }
}