@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer components {
  .maplibregl-ctrl-logo {
    display: none !important;
  }

  .maplibregl-ctrl-attrib {
    font-size: 10px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}