@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'maplibre-gl/dist/maplibre-gl.css';

html {
  scroll-behavior: smooth;
}

.maplibregl-ctrl-logo {
  display: none !important;
}

.maplibregl-ctrl-attrib-inner {
  display: none !important;
}

::selection {
  background-color: rgba(16, 185, 129, 0.3);
  color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}